@import 'fontello.css';

/*********************************************************************************/
/* iFrames */
/*********************************************************************************/

iframe {
	border: 0;
}

iframe.glavna
{
	 position:absolute; 
	 left:0; top:0; 
	 width:100%; 
	 height:100%;
	 overflow:hidden;
}
iframe.glavna2
{
	 position:absolute; 	
	 width:0; 
	 height:0;
	 overflow:hidden;
	 visibility:hidden;
	 display:none;
	 z-index:3;
}	

/*********************************************************************************/
/* Body */
/*********************************************************************************/

body,
.mainpage_bg,
.mainpage2_bg {
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Arial, Helvetica, sans-serif;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
	overflow: hidden; /* should hide the scroll */
	margin: 0px;
}

/*********************************************************************************/
/* Layouts */
/*********************************************************************************/

.right{
    float: right;
    position: relative;
    right:20px;
}

.left{
    float: left;
    height: 100%;
    position: relative;
    left:20px;
}

/*********************************************************************************/
/* Headers */
/*********************************************************************************/

.header {
    background-color:#e84351;
    color: #FFF;
    padding: 0.5% 2%;
}

.header.mainScreen {
    background-color: #000;
}

h1 {
    font-weight: normal;
    text-align: center;
    font-size: 2.5rem;
}

.headerTitle {
    color: rgba(0, 0, 0, 0); /* The text is hidden */
}

.srrc-logo {
    height:70px;
    margin-top:25px;
}

.eventTitle {
    margin:0;
    font-size: 2rem;
}

.competitionName {
    margin:0;
    font-size: 2rem;
}

.heat {
    margin:0;
    font-size: 2rem;
}

/*********************************************************************************/
/* Heat for qualif */
/*********************************************************************************/

.place, .date {
    font-size: 1.5em;
}

.no-margin-padding {
    padding: 0px;
    margin: 0px;
}

#footerMainScreen {
	visibility: hidden;
}	

.floor{ /* OSNOVNI DIV ZA PODJELU NA DVA FLOORA */
    height: 98%;
    width:49%;
    text-align:center;
    padding-top:0rem;
}

.floor.one { /* IDO PODJELA NA DVA FLOORA - LIJEVI*/
    float:left;
}

.floor.two { /* IDO PODJELA NA DVA FLOORA - DESNI*/
    float:right;
}

.floor.one.oneF, .floor.two.oneF {
    background-color:transparent;
}

.tablica_floor { /* DIV u koji se smješta tablica za lijevi ili desni floor */
    position:relative;
    display:table; /* Parent div, pozicija: relative, radi centriranja broja (poz. absolute) */
    height:90%;
    width:100%;
}			

.tablica_floor.oneF { /* DIV u koji se smješta tablica za lijevi ili desni par, kad je samo jedan podij */
    height:100%;
}

.pairOne.one {
    padding-top:0rem;
}

.pairPlace {
    font-size: 3.00rem;
    height: 1.5rem;
    padding: 0.250rem;
    margin-top: 2.0rem;

    border-color: #fff;

    border-style: solid;
    border-width: 1px;
	border-radius:2.000rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	width:60%;
	margin-left:20%;
    height: 5.0rem;
}

.pairPlace.yellow { /* Yellow card  */
    color:#404040;
   background:#FF3;
}

.pairPlace.red{ /* Red card */
	color:#FFF;
	background:#C00;
}

.pairNo {
    font-size:2.5rem;
    margin:0rem 0rem 0rem 0rem;
}

.pairName {
    font-size:2.0rem;
    margin:0;
    margin:1rem 0rem 0.5rem 0rem;
}

.pairName.one {
    font-size:3.0rem;
    margin:0rem 0rem 0.5rem 0rem;
}

.pairCountry {
    font-size:1.5rem;
    margin:0;
    margin:0rem 0rem 0.5rem 0rem;
}

.pairCountry.one {
    font-size: 2rem;
}

.pairResult {
    color: #e84351;
    font-size: 2.5rem;
    margin:0;
}

.pairResult.one {
    font-size: 3rem;
}

.marks > ul li, .marks.two > ul li {
    display: inline-block;
    font-size: 2.0rem;
}

.marks > ul li:last-child{
    margin-left: 2rem;
}
.marks > ul li span.noVote i{
    visibility: hidden;
}
.marks > ul li i{
    display: block;
    padding-bottom: 0.500rem;
}

.icon-ok {
    color: #000;
}

/*********************************************************************************/
/* njs */
/*********************************************************************************/

table {
	vertical-align: baseline;
    
	border-collapse: collapse;
	border-spacing: 0;
    border: 2px solid #e84351;
    
	margin: 2rem auto;
    width: 90%;

	font-size: 1.5em;
}

tr.tableInfo {
    font-weight: 550;
    text-align: center;
    
    background-color:#e84351;
    height: 3.5rem;
}

tr.tableInfo td{
    vertical-align: middle;
}

tr.tableRows {
    height: 4.1rem;
    border-bottom: 1px solid gray;
}

tr.tableRows8 {
    height: 3.6rem;
    border-bottom: 1px solid gray;
}

tr.tableRows td {
    border: 0px;
}

/*********************************************************************************/
/* proglasenje (podiums) */
/*********************************************************************************/

.pairOne{   /* OSNOVNO - 5 PAROVA NA EKRANU */
    display: inline-block;
    float: left;
    height: 50%;
    width:99.33%;
    margin: 2rem 0rem 0rem 0rem;
}

.pairTwo{
    display: inline-block;
    float: left;
    height: 50%;
    margin-left: 16.67%;
    width:33.33%;
}

.pairThree{
    display: inline-block;
    float: left;
    height: 50%;
    margin: 0 auto;
    width:33.33%;
}

.pairWinerOne,
.pairWinerTwo,
.pairWinerThree {
	border-radius:50rem; /* max. to be a circle */
    font-size: 2.300rem;
    margin-bottom: 1rem;
    color:#FFF;
    vertical-align: middle;
    
    margin: 0 auto;
	width:120px;
    height:120px;
}

.pairWinerOne{
    background-color: #ffd50f; /*#ffd50f*/
}

.pairWinerTwo{

    background-color: #dbdbdb; /*#e6e6e6*/
}

.pairWinerThree{
    background-color: #db9d36; /*#cd791f*/
}

/*********************************************************************************/
/* tmp */
/*********************************************************************************/

.border {
    border-color: #f00;
    border-width: 2.0;
    border-style: solid;
}